{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'base/images/campus_logo.png'%}" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'base/css/styles.css'%}">

        <title>landing page </title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="{% static 'base/images/campus_logo.png'%}" alt="">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#products" class="nav__link">Ongoing Events</a>
                        </li>
                        <li class="nav__item">
                            <a href="#upcomming" class="nav__link">Upcomming Events</a>
                        </li>
                        <li class="nav__item">
                            <a href="#foot" class="nav__link">Contact Us</a>
                        </li>
                        <li class="nav__item">
                          {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="nav__link">Logout</a>
                            {% else %}
                            <a href="{% url 'base:login' %}" class="nav__link">Login</a>
                          {% endif %}
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        
    {% block content %}

    {% endblock content%}
  </main>
  <a href="#" class="scrollup" id="scroll-up">
      <i class="ri-arrow-up-s-line scrollup__icon"></i>
  </a>

  <!--=============== SCROLL REVEAL ===============-->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!--=============== MAIN JS ===============-->
  <script src="{% static 'base/js/main.js'%}"></script>
</body>
</html>
