{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

        <!--=============== REMIX ICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="{% static 'base/css/admin.css'%}">

        <title>Admin Page</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">
                    <img src="img/logo.png" alt="">
                </a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active-link">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#create" class="nav__link">Create Event</a>
                        </li>
                        <li class="nav__item">
                            <a href="#upcomming" class="nav__link">Past Events</a>
                        </li>
                        <li class="nav__item">
                            <a href="#foot" class="nav__link">Contact Us</a>
                        </li>
                    </ul>

                    <div class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </div>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">

          <section class="discount section" id="create">
              <h2 class="section__title section__title-gradient">Create an Event</h2>
              <div class="discount__container container grid">
                  <div class="discount__animate">
                      <h2 class="discount__title">POST AN<br> EVENT</h2>
                      <p class="discount__description"> Every. Details. Counts.</p>
                      <a href="{% url 'base:registration' %}" class="button button--flex">
                          Post
                      </a>
                  </div>

                  <img src="images/a.jpg" alt="" class="discount__img">
              </div>
          </section>

  <div class="card-container">
  {% for i in past_events %}
  <div class="card">
      <div class="card-image">
          <img src="/media/{{i.image}}" alt="Card Image 1">
      </div>
      <div class="card-content">
          <h2 class="card-title">{{i.title}}</h2>
          <p class="card-description">{{i.description}}</p>
          <div class="card-buttons">
              <a href="{% url 'base:seemore' i.id %}" class="card-button card-button-see-more">See More</a>
              <a href="#" class="card-button card-button-register">Register</a>
          </div>
      </div>
  </div>
  {% empty %}
    <li>No past events.</li>
  {% endfor %}
</div>

<h3>Future Events:</h3>

<ul>
  {% for event in future_events %}
    <li>{{ event.name }}</li>
  {% empty %}
    <li>No future events.</li>
  {% endfor %}
</ul>

<footer class="footer section" id="foot">
    <hr>
    <div class="footer__container container grid">
        <a href="#" class="footer__logo">
            <img src="img/logo.png" alt="">
        </a>

        <div class="footer__content">
            <h3 class="footer__title">Contact Us</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Facebook</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Instagram</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Twitter</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Support</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Help</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Register</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Updates</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Query</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <form action="" class="footer__form">
                <input type="email" placeholder="Email" class="footer__input">
                <button class="button button--flex">
                    <i class="ri-send-plane-line button__icon"></i> Email Us
                </button>
            </form>

            <div class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-fill"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-line"></i>
                </a>
            </div>
        </div>
    </div>

    <p class="footer__copy">
        <a href="https://www.youtube.com/c/Bedimcode/" target="_blank" class="footer__copy-link">&#169; Bedimcode. All right reserved</a>
    </p>
</footer>

<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up">
    <i class="ri-arrow-up-s-line scrollup__icon"></i>
</a>

<!--=============== SCROLL REVEAL ===============-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--=============== MAIN JS ===============-->
<script src="{% static 'base/js/admin.css'%}"></script>
</body>
</html>
